# i3blocks config file
#
# Please see man i3blocks for a complete reference!
# The man page is also hosted at http://vivien.github.io/i3blocks
#
# List of valid properties:
#
# align
# color
# command
# full_text
# instance
# interval
# label
# min_width
# name
# separator
# separator_block_width
# short_text
# signal
# urgent

# Global properties
#
# The top properties below are applied to every block, but can be overridden.
# Each block command defaults to the script name to avoid boilerplate.
#command=/usr/share/i3blocks/$BLOCK_NAME
command=$SCRIPT_DIR/$BLOCK_NAME/$BLOCK_NAME
separator_block_width=20
markup=none

# Display window title in middle of bar
[window title]
#command=xtitle -s
#interval=persist
command=xdotool getactivewindow getwindowname
interval=1
align=center
min_width=500
color=#8FBCBB
separator=false

# Notification silencer
[dunst]
interval=once
format=json
markup=pango
#min_width=18
#align=center
#DUNST_MUTE=off

# Disk usage
[disk]
#label=HOME
label= 
#instance=/mnt/data
interval=30
color=#8FBCBB


# Memory usage
#
# The type defaults to "mem" if the instance is not specified.
[memory]
#label=MEM
label= 
#label= 
interval=1
color=#88C0D0

# Network interface monitoring
#
# If the instance is not specified, use the interface used for default route.
# The address can be forced to IPv4 or IPv6 with -4 or -6 switches.
#[iface]
#instance=wlan0
#color=#00FF00
#interval=10
#separator=false

# CPU usage
#
# The script may be called with -w and -c switches to specify thresholds,
# see the script for details.
[cpu_usage2]
#label=CPU
markup=pango
LABEL= 
interval=persist
color=#81A1C1
#min_width=CPU: 100.00%
#separator=false

# Battery indicator
#
# The battery instance defaults to 0.
[battery2]
interval=30
markup=pango
color=#5E81AC

[backlight]
label=☀ 
interval=5
color=#8FBCBB
STEP_SIZE=10
#USE_SUDO=0

# Bandwidth
[bandwidth2]
interval=persist
markup=pango
min_width=125
color=#88C0D0


# Volume indicator
#
# The first parameter sets the step (and units to display)
# The second parameter overrides the mixer selection
# See the script for details.
#[volume]
#label=VOL
#label=♪
#instance=Master
#instance=PCM
#interval=1
#signal=10

[volume-pulseaudio]
#command=$SCRIPT_DIR/volume-pulseaudio
interval=1
#signal=1
LONG_FORMAT="${SYMB}${VOL}% [${NAME}]"
DEFAULT_COLOR=#81A1C1
#
# Temperature
# Support multiple chips, though lm-sensors.
# The script may be called with -w and -c switches to specify thresholds,
# see the script for details.
[temperature]
#label=TEMP
label= 
interval=10
color=#8FBCBB

# Calendar
[rofi-calendar]
interval=3600
DATEFTM=+%a %d %b %Y
SHORTFMT=+%d/%m/%Y
BAR_POSITION=top
WEEK_START=monday
color=#5E81AC

# Date Time
[time]
label= 
#command=date '+%a %d/%m/%y %H:%M '
command=date '+%H:%M '
interval=10
color=#8FBCBB

# Generic media player support
#
# This displays "ARTIST - SONG" if a music is playing.
# Supported players are: spotify, vlc, audacious, xmms2, mplayer, and others.
#[mediaplayer]
#instance=spotify
#interval=5
#signal=10

# OpenVPN support
#
# Support multiple VPN, with colors.
#[openvpn]
#interval=20

# Key indicators
#
# Add the following bindings to i3 config file:
#
# bindsym --release Caps_Lock exec pkill -SIGRTMIN+11 i3blocks
# bindsym --release Num_Lock  exec pkill -SIGRTMIN+11 i3blocks
#[keyindicator]
#instance=CAPS
#interval=once
#signal=11

#[keyindicator]
#instance=NUM
#interval=once
#signal=11

